@page
@model WebApplication.Pages.ContactModel
@{
    <div class="text-center">
        <h1 class="display-4">Bun venit pe pagina de contact</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div>
    <p>Aici vei gasi urmatoarele date de contact</p></div>


}
